.root {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 26px 60px 26px 40px;

  @media (max-width: 1199.9px) {
    align-items: center;
    padding: 38px 20px 28px;
    font: var(--regular-text-mobile);
    height: auto;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 28px;
  width: 100%;

  @media (max-width: 1199.9px) {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
  }
}

.logo {
  width: 97px;
  height: 100px;

  @media (max-width: 1199.9px) {
    width: 58px;
    height: 60px;
  }
}

.email {
  @media (max-width: 1199.9px) {
    margin: 28px 0 16px;
  }
}

.copyright {
  font-size: 13px;
}
